{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR7EGN4yLtpXyb91LajTzOfhob8cbs4MS7TrFF41aNMXUZGVjF8fwHSxC7cy3P2ZI9nFTVcZp5aZZ09/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT0c2lnnWYGjN3SW62GIl3eaR-xAVeMHKmMqoPdVwEZ2yxyd80qvqDXcg0KrYxYvd4hRQthiqNmmEXl/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTBdLrgXTcjwvc6K2BJQhobsvY3Ta6yGTNi287LxK0EbQKl6_22j6k-4LRyg1zSgFfETGorGDa_U1u4/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ9fkUqiS4VQPRC8ZERd5XPyWCl6YqBaOk-nB6FD2Ip6NXmqUy3d49Fi4VAvcqjVglOylShDYH7oiEs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRlR7WKqKgLqFvVh33ihBjHhjr8kEsbwmL6qjJGCXI6daWbokO77ALKL2CpeO08-gf8fLZXWkcp90Tq/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTHWv39aeU442G8Sw4BXgAIGF2v0t8j6AO4J2wiYypmhVQCMFYMRRuN3MjKzBtHtO6iRVcHn7BSho6L/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQNXjVc_d2gbyK24KEhDiGHupMqFSSEB58rutdmQkS_yIjDmdkUs3E9vFVi7_tGWvp9lqxLZSDFcuSr/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS0Ruz_w2tdtXx9wpWQ26RReHLw1dqfCiBP92KDOAkyGFpzsAs1nm2sisbMMm55GVLe4Jes51ldXcIg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRHGskPo3xbQRZNy_-ILzh3b8fCoM4eG7_PCAoIzS60LjsLYCi-Dwk9XZaQmh2n3rIB7unjYfXzlOeD/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRtAAp86KMIvQfYH_qF4J2NzrDDIQff0y7-tYjh5r7kjgeXH-Gi3iJzhYsDHe0qqqRNVNuep5NZS4n5/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRS7vxL8rujbZt6vr14XHxy_0kBD8f6NMaONZdCBMMKa9KfWnMTksJ_EYpACC8Wk7tEcRjbyF2_nKfy/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTJZ_XDX2BXNVtN248P12aycsEBG-jMtihVwpFt792F5CkVdUSo0vc65ZTcoFaPU0SW8d23-U83v1QS/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSYrXPq1o0QvrDYv3kN0UAmL6d9-ev1TUhAyqJFP94Ef3zrD_yY44TH_broSGIVRKMR1h9NJIXD9CuN/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQVwmr3nXDnP3GCY_laFCedEoZdSnjVam2qZpFuMt7NOUNanDExV6VU7E-40Rl9zYJvhH9Ob3gj5LRZ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget widget-default">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRb75THn7s4Nq6js7NGrCgffuDIalWkkg8cbmvzxEJP4-r9iZPvZkBnwr5YV1TP4r3y0FXAufcHviGO/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
</div>
{% endblock %}
