{% extends "base.html" %}

{% block content %}
<div class="main">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">埋め込みデモ</h2>
                </div>
            </div>
            <iframe src="http://127.0.0.1:5000/pdf_form/input_form/8b5c1f04-6787-4bf1-bdf2-e38d10a80f26" width=1190 height=1800 scrolling="no" frameborder="yes"></iframe>
        </div>
    </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
