{% extends "base_min.html" %}
{% block content %}
<div class="main">
     <section class="module-small">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ form_name }}</h2>
            <div class="module-subtitle font-serif">{{ title }} </div>
            </div>
        </div>
        <div class="col-sm-12">
            {% if subtitle=="form_design" %} <!-- フォームデザイン時 -->
            <div class="col-sm-8">
                <canvas id="c"></canvas>
                <img src="{{ png_file }}" id="my-image" style="display:none;">
                <img src="{{ seal_path }}" id="seal-id" style="display:none;">
            </div>
            <div class="col-sm-4" style="background-color:#e8e8e8;height:100%">
                <div class="col-sm-12">
                    <h3> オプション</h3>
                    <div class="form-group">
                        <label class="control-label">フォーム名</label> 
                        <input class="form-control" type="text" id="form-name" value="{{ form_name }}"/>
                    </div>
                    <form id="form-area">
                    </form>
                    <div class="row col-sm-12" style="">
                        <button class="btn btn-success col-sm-12" id="gen_form">フォーム作成</button>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if subtitle=="form_input" %}<!-- フォーム入力時 -->
            <input type="hidden" id="form-name" value="{{ form_name }}">
            <div class="col-sm-12">
                <canvas id="c"></canvas>
                <img src="{{ png_file }}" id="my-image" style="display:none;">
                <img src="{{ seal_path }}" id="seal-id" style="display:none;">
            </div>
            <div class="col-sm-12" style="position:fixed;bottom:10px;">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--<button class="btn btn-lg btn-info col-sm-6" id="gen_pdf">PDF出力</button>-->
                    <button class="btn btn-lg btn-success col-sm-6 col-sm-offset-3" id="commit">入力完了</button>
                </div>
            </div>
            {% endif%}
        </div>
    </section>
    <input type="hidden" id="uuid" value="{{ uuid }}">
    <div id="file_dl"></div>
</div>
{% endblock %}

{% block js %}
    <script src="/static/js/fabric.min.js"></script>
    <script src="/static/js/pdf_form.js"></script>
    <!-- 注入スクリプト -->
    <script>
        /* あれば読む */
        var json_data = '{{ json_data|safe }}';
        $(function(){
            if (json_data){ 
                // デコードする
                json_data = $('<div/>').html(json_data).text();
                console.log(json_data);
                {% if subtitle == "form_input" %}
                    app.load_dataJson(json_data); 
                    app.complete_default({{ 'true' if open_mode else 'false' }}); // 入力補完
                {% elif subtitle == "form_design" %}
                    app.load_formJson(json_data); 
                {% endif %}
            }
            // URL注入
            app.set_form_save_url("{{ url_for('save_form') }}");
            app.set_commit_url("{{ url_for('commit', _uuid=commit_uuid) }}");
            // 送信設定
        });
    </script>
    <style type="text/css">
        .canvas-container { margin : auto; }
    </style>
{% endblock %}
